<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kim.hrdtest.employees.domain.Employees">
<!--    구현할것 : CRUD + 과제 1 +과제 2-->
<!--    1.resultmap정의 (컬러 필드 매핑명확화)-->
<resultMap id="employeesResultMap" type="employees">
<id property="EmpNo" column="EmpNo" />
<result property=""  column = "" />
<result property=""  column = "" />
<result property=""  column = "" />
<result property=""  column = "" />
    



</resultMap>


    <!--    1.Read->전체 조회 selectAllEmployees-->


</mapper>